@font-face {
  font-family: 'arenq';
  src: url(fonts/Arenq.otf);
}
@font-face {
  font-family: 'prime';
  src: url('fonts/Prime-Regular.ttf');
}
body{
  margin: 0px 5px 0px 5px;
  background-image: url("img/output-onlineimagetools.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header{
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

                    /* SECTION 1 */

#sezione1{
  cursor: url('img/connection.png'), auto;
}
#titolo{
  margin: 0px 0px 0px 0px;
  font-family: 'Arenq';
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 19px;
  display: flex;
  justify-content: center;
  cursor: none;
}
.container1{
  background-attachment: fixed;
}
#menu1{
  list-style-type:none;
  font-family: 'prime';
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 0px;
}
.menu1Content{
  margin: 20px 20px 20px 50px;
  text-decoration: none;
  color: #cca300;
  text-align: center;
}
.menu1Content:hover{
  background-color: rgba(255, 128, 128, 0.5);
  padding: 5px 5px 5px 5px;
  transition: 0.2s;
  border-radius: 3px;
  cursor: pointer;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.card{
  margin: 30px 50px 30px 50px;
  width: 680px;
  padding: 20px 20px 20px 20px;
}
.card-title{
  font-size: 30px;
  font-family: 'Arenq';
  color: #ffffff;
  cursor: url('img/connection.png'), auto;
}
.card-title:hover{
  background-color: rgba(255, 128, 128, 0.5);
  padding: 5px 2px 5px 2px;
  transition: 0.2s;
  border-radius: 3px;
}
.card-text{
  font-family: 'prime';
  font-size: 20px;
  color: #ffffff;
}
.infolink{
  font-family: 'prime';
  font-size: 20px;
  color: #cca300;
  text-decoration: none;
}


                /* SECTION 2 */

#sezione2{
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 40px;
}
#titolosec2{
  padding: 20px 20px 20px 20px;
  font-family: 'Arenq';
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  letter-spacing: 30px;
  cursor: none;
}
#poetry{
  font-family: 'prime';
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  cursor: url("img/click.png"), auto;
}
#bukowski{
  text-decoration: none;
  color: #ffffff;
  cursor: url('img/click.png'), auto;
}
.ptbtn:hover{
  background-color: rgba(255, 128, 128, 0.5);
  padding: 5px 2px 5px 2px;
  transition: 0.2s;
  border-radius: 3px;
}
@media(max-width: 1200px) {
  .menu1Content{margin: 20px 20px 20px 15px;}
  .container{display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;}
}
@media(max-width: 700px) {
  .menu1Content{margin: 10px 10px 10px 5px;}
  .container{display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;}
}
